{% extends 'index.html' %}

{% block title %}
Про нас
{% endblock title %}

{% block main %}
  <main class="main container">
    <div class="about">
      <h1>Про нас</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut erat at magna scelerisque
        consectetur non non sem. Mauris vel consectetur nibh. Quisque quis diam lacinia nisl rhoncus
        maximus sed ut magna. Nulla cursus egestas ultrices. Fusce vel dolor convallis, vehicula dolor
        ut, dapibus lorem. Sed nec aliquam augue. Sed sit amet nisi quis arcu sollicitudin faucibus.
        Nullam vitae lorem finibus, pretium turpis eu, interdum lacus. Cras fringilla, enim eget blandit
        accumsan, purus sapien molestie metus, vitae venenatis ligula augue rutrum quam. Nunc auctor
        ultricies rutrum. Donec placerat, dui a porttitor consequat, quam elit luctus felis, vitae
        accumsan tortor diam ac elit. Praesent convallis dolor eu aliquam accumsan. Proin in lorem
        vulputate, tempus turpis a, laoreet dolor. Proin sed mauris metus.
      </p>
      <br>
      <p>
        Nunc fermentum quam augue, a ullamcorper lectus varius non. Aliquam sit amet felis fermentum,
        ullamcorper libero dapibus, pulvinar odio. Curabitur hendrerit ex bibendum eleifend aliquet.
        Morbi sodales venenatis sapien, non mollis urna placerat at. Donec at laoreet ligula. Etiam
        sapien urna, euismod vitae aliquet vel, pulvinar vel felis. Integer lorem ipsum, convallis
        ut arcu a, sodales ultrices sapien. Maecenas quis justo nunc. Quisque posuere libero porttitor
        vehicula dignissim. Aliquam a tristique felis. Donec rutrum nisi eu justo tempus vestibulum
        eget sed nisi. Vestibulum ut purus sed nunc lacinia ullamcorper vel et arcu. Interdum et
        malesuada fames ac ante ipsum primis in faucibus
      </p>
      </div>
  </main>
{% endblock main %}