{% extends 'index.html' %}

{% block title %}
Главная
{% endblock title %}

{% block main %}
  <main class="main container">
    <div class="home">
      <h1>Сокра.тим</h1>
      <p>Быстро сократим любую ссылку для вашего проекта</p>
      {% if user.is_authenticated %}
        <a href="{% url 'profile' %}"><button>Кабинет пользователя</button></a>
      {% else %}
        <a href="{% url 'auth' %}"><button>Кабинет пользователя</button></a>
      {% endif %}
    </div>
  </main>
{% endblock main %}