@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

* {
    font-family: 'Play', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(255, 244, 193);
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: rgb(255, 210, 88);
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 130px;
    position: relative;
    top: -7px;
}

.header__left {
    display: flex;
    align-items: start;
}

.header__left p {
    margin: auto 0;
    font-weight: 700;
    font-size: 21px;
}

.header__right {
    display: flex;
    margin: auto 0;
}

.header__right li {
    list-style-type: none;
    width: 110px;
    font-size: 17px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 210, 88);
    transition-property: box-shadow, transform, background-color;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.header__right li:not(:first-of-type) {
    margin-left: 22px;
}

.header__right li:hover {
    transform: skew(-10deg, 0deg) scale(1.1) translateY(-4px);
    cursor: pointer;
    -webkit-box-shadow: 8px 11px 9px 0px rgba(34, 60, 80, 0.2); 
    -moz-box-shadow: 8px 11px 9px 0px rgba(34, 60, 80, 0.2); 
    box-shadow: 8px 11px 9px 0px rgba(34, 60, 80, 0.2);
    background-color: rgb(255, 244, 193);
}

.header__right li a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px 0 3px 0;
}

.main {
    position: relative;
}

.home {
    text-align: center;
    margin-top: 100px;
}

.home h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.home p {
    font-size: 30px;
    margin-bottom: 30px;
}

.home a button {
    font-size: 20px;
    background-color: rgb(255, 210, 88);
    cursor: pointer;
    padding: 15px;
    border: 1px solid black;
    border-radius: 10px;
    transition-property: box-shadow, transform, background-color;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.home a button:hover {
    transform: skew(-10deg, 0deg) scale(1.1) translateY(-4px);
    cursor: pointer;
    -webkit-box-shadow: 8px 11px 9px 0px rgba(34, 60, 80, 0.2); 
    -moz-box-shadow: 8px 11px 9px 0px rgba(34, 60, 80, 0.2); 
    box-shadow: 8px 11px 9px 0px rgba(34, 60, 80, 0.2);
}

.about h1 {
    text-align: center;
    margin: 25px 0;
}

.about p {
    text-align: justify;
    text-indent: 30px;
}

.helptext {
    font-size: 12px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.helptext ul {
    margin-bottom: 10px;
}

.helptext ul li {
    position: relative;
    left: 22px;
}

.registration {
    width: 400px;
    margin: 0 auto;
}

.registration p a {
    border: 1px solid black;
    background-color: rgb(255, 210, 88);
    border-radius: 5px;
    padding: 2px;
    transition-property: transform, box-shadow;
    transition-duration: .6s;
    transition-timing-function: ease;
    display: inline-block;
}

.registration p a:hover {
    transform: translateX(20px) scale(1.05);
    cursor: pointer;
    -webkit-box-shadow: -17px 10px 15px 0px rgba(34, 60, 80, 0.2); 
    -moz-box-shadow: -17px 10px 15px 0px rgba(34, 60, 80, 0.2); 
    box-shadow: -17px 10px 15px 0px rgba(34, 60, 80, 0.2);
}

.registration button {
    display: block;
    margin: 20px auto;
}

.registration h1 {
    text-align: center;
    margin: 25px 0;
}

.registration__email {
    margin-bottom: 10px;
}

.registration form input {
    width: 100%;
    height: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.registration__btn {
    font-size: 15px;
    background-color: rgb(255, 210, 88);
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition-property: box-shadow, transform, background-color;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.registration__btn:hover {
    transform: scale(1.05);
    box-shadow: 0px -1px 20px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

.auth {
    width: 400px;
    margin: 0 auto;
}

.auth h1 {
    text-align: center;
    margin: 25px 0;
}

.auth form input {
    width: 100%;
    height: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.auth button {
    display: block;
    margin: 10px auto;
}

.auth__btn {
    font-size: 15px;
    background-color: rgb(255, 210, 88);
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition-property: box-shadow, transform, background-color;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.auth__btn:hover {
    transform: scale(1.05);
    box-shadow: 0px -1px 20px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

.auth p {
    display: inline-block;
    margin-top: 10px;
}

.auth p a {
    border: 1px solid black;
    background-color: rgb(255, 210, 88);
    border-radius: 5px;
    padding: 2px;
    transition-property: transform, box-shadow;
    transition-duration: .6s;
    transition-timing-function: ease;
    display: inline-block;
}

.auth p a:hover {
    transform: translateX(20px) scale(1.05);
    cursor: pointer;
    -webkit-box-shadow: -17px 10px 15px 0px rgba(34, 60, 80, 0.2); 
    -moz-box-shadow: -17px 10px 15px 0px rgba(34, 60, 80, 0.2); 
    box-shadow: -17px 10px 15px 0px rgba(34, 60, 80, 0.2);
}

.profile {
    width: 400px;
    margin: 0 auto;
}

.profile h1 {
    text-align: center;
    margin: 25px 0;
}

.profile form input {
    width: 100%;
    height: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.profile button {
    display: block;
    margin: 20px auto;
}

.profile__btn {
    font-size: 15px;
    background-color: rgb(255, 210, 88);
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    transition-property: box-shadow, transform, background-color;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.profile__btn:hover {
    transform: scale(1.05);
    box-shadow: 0px -1px 20px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

.profile__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__name {
    margin-bottom: 10px;
}

.profile__change {
    margin-bottom: 2px!important;
}

.profile__email {
    margin-bottom: 10px;
}

.profile h2 {
    display: block;
    width: 102%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.links h1 {
    text-align: center;
    margin: 25px 0;
}

.links__columns {
    display: flex;
    justify-content: space-around;
}

.links__fields {
    width: 40%;
    height: 200px;
    padding-top: 20px;
}

.links__current {
    width: 25%;
    text-align: center;
}

.links__field {
    width: 100%;
    height: 20px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.links__btn {
    font-size: 15px;
    background-color: rgb(255, 210, 88);
    margin-top: 10px;
    cursor: pointer;
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    transition-property: box-shadow, transform, background-color;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.links__btn:hover {
    transform: scale(1.05);
    box-shadow: 0px -1px 20px 2px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

.links__instance {
    margin-bottom: 7px;
    text-decoration: underline;
}

.links__fields .first {
    margin-bottom: 0;
}

.links__fields .errorlist li {
    font-size: 12px;
    padding: 5px 0;
    list-style-type: none;
}

footer {
    background-color: rgb(255, 210, 88);
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 130px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer__rights {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.footer__icons {
    width: 35px;
    display: inline-block;
    margin-left: 7px;
    border: 1px solid rgb(255, 210, 86);
    background-color: rgb(255, 229, 159);
    border-radius: 500px;
    padding: 6px;
    text-align: center;
    transition-property: box-shadow, transform;
    transition-duration: .6s;
    transition-timing-function: ease;
}

.footer__icons:hover {
    cursor: pointer;
    transform: scale(0.9);
    box-shadow: 0px -1px 20px 2px rgba(34, 60, 80, 0.2) inset;
}

.footer__icons img {
    width: 90%;
    vertical-align: middle;
}


